<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LineBreakFixupsDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <LineBreakFixupsDemo.Properties.Settings>
            <setting name="SuccessfulOutcomeMessageColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SuccessfulOutcomeMessageBackgroundColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="DATA_DIRECTORY_NAME" serializeAs="String">
                <value>..\..\..\Test_Data</value>
            </setting>
            <setting name="JSON_INPUT_FILE_NAME_WINDOWS" serializeAs="String">
                <value>strResponse_Raw_20190508_181920_Windows_LineBreaks.JSON</value>
            </setting>
            <setting name="JSON_INTERMEDIATE_FILE_NAME_WINDOWS_RAW" serializeAs="String">
                <value>strResponse_Intermediate_Windows_LineBreaks_Raw.TXT</value>
            </setting>
            <setting name="JSON_FINAL_FILE_NAME_WINDOWS_RAW" serializeAs="String">
                <value>strResponse_FINAL_Windows_LineBreaks_Raw.TXT</value>
            </setting>
            <setting name="JSON_CONTENTS_REPORT_FILE_NAME_WINDOWS_RAW" serializeAs="String">
                <value>strResponse_Contents_Windows_LineBreaks_Raw.TXT</value>
            </setting>
            <setting name="JSON_INPUT_FILE_NAME_UNIX" serializeAs="String">
                <value>strResponse_Raw_20190508_181920_Unix_LineBreaks.JSON</value>
            </setting>
            <setting name="JSON_INTERMEDIATE_FILE_NAME_UNIX" serializeAs="String">
                <value>strResponse_Intermediate_Unix_LineBreaks.TXT</value>
            </setting>
            <setting name="JSON_FINAL_FILE_NAME_UNIX" serializeAs="String">
                <value>strResponse_FINAL_Unix_LineBreaks.TXT</value>
            </setting>
            <setting name="JSON_CONTENTS_REPORT_FILE_NAME_UNIX" serializeAs="String">
                <value>strResponse_Contents_Unix_LineBreaks.TXT</value>
            </setting>
            <setting name="JSON_INTERMEDIATE_FILE_NAME_WINDOWS_TRANSFORMED"
                serializeAs="String">
                <value>strResponse_Intermediate_Windows_LineBreaks_Transformed.TXT</value>
            </setting>
            <setting name="JSON_FINAL_FILE_NAME_WINDOWS_TRANSFORMED" serializeAs="String">
                <value>strResponse_FINAL_Windows_LineBreaks_Transformed.TXT</value>
            </setting>
            <setting name="JSON_CONTENTS_REPORT_FILE_NAME_WINDOWS_TRANSFORMED"
                serializeAs="String">
                <value>strResponse_Contents_Windows_LineBreaks_Transformed.TXT</value>
            </setting>
            <setting name="APP_SETTINGS_REPORT_FILENAME" serializeAs="String">
                <value>Application_Settings_Report.TSV</value>
            </setting>
            <setting name="EMBEDDED_RESOURCES_REPORT_FILENAME" serializeAs="String">
                <value>Embedded_Resources_Report.TSV</value>
            </setting>
        </LineBreakFixupsDemo.Properties.Settings>
    </applicationSettings>
</configuration>